.image {
    width: 100%;
    object-fit: cover;
    height: 150px;
}
.image2 {
    width: 100%;
    object-fit: cover;
    height: 150px;
}
.image3 {
    width: 100%;
    object-fit: cover;
    height: 100px;
}