.image {
    width: 100%;
    object-fit: cover;
    height: 150px;
}
.image2 {
    width: 100%;
    object-fit: cover;
    height: 150px;
}
.image3 {
    width: 100%;
    object-fit: cover;
    height: 100px;
}
.information {
    border-bottom: 1px solid #e8e8e8;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: #f2f2f2;
    min-height: 180px;
}