<h6>Kreiraj članak</h6>
<form #articleForm="ngForm" (ngSubmit)="create(articleForm)">
        <div class="form-group">
            <label for="naslov">Naslov</label>
            <input
                ngModel
                type="text"
                class="form-control"
                name="naslov"
                placeholder="Upišite naslov članka"
                required>
        </div>
        <div class="form-group">
            <label for="opis">Kratki Opis</label>
            <textarea
                ngModel
                type="text"
                class="form-control"
                name="kratkiOpis" 
                rows="3"
                placeholder="Upišite opis"
                required>
            </textarea>
        </div>
        <div class="form-group">
            <label for="opis">Opis</label>
            <textarea
                ngModel
                type="text"
                class="form-control"
                name="opis" 
                rows="5"
                placeholder="Upišite opis"
                required>
            </textarea>
        </div>
        <div class="form-group">
            <label for="file">Slike</label>
            <input ngModel type="file" (change)="uploadFile($event)" class="form-control" name="file" placeholder="File">
        </div>
    
        <div class="row form-group">
            <img *ngFor="let item of imageUrls" [src]="item" width="100px" />
        </div>
    
        <button type="submit" [disabled]="!articleForm.valid" class="btn btn-primary">Submit</button>
    </form>